<h1 *ngIf="isAddMode">Add Unit</h1>
<h1 *ngIf="!isAddMode">Edit Unit</h1>
<form [formGroup]="formListing" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="unit_no">Unit Number</label>
            <input type="text" formControlName="unit_no" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.unit_no.errors }" />
            <div *ngIf="submitted && f.unit_no.errors" class="invalid-feedback">
                <div *ngIf="f.unit_no.errors.required">Unit Number is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="bedrooms">Bedroom</label>
            <input type="text" formControlName="bedrooms" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bedrooms.errors }" />
            <div *ngIf="submitted && f.bedrooms.errors" class="invalid-feedback">
                <div *ngIf="f.bedrooms.errors.required">Bedroom is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="bathrooms">Bathroom</label>
            <input type="text" formControlName="bathrooms" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bathrooms.errors }" />
            <div *ngIf="submitted && f.bathrooms.errors" class="invalid-feedback">
                <div *ngIf="f.bathrooms.errors.required">Bathroom is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="air_condition">Air-Condition</label>
            <input type="text" formControlName="air_condition" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.air_condition.errors }" />
            <div *ngIf="submitted && f.air_condition.errors" class="invalid-feedback">
                <div *ngIf="f.air_condition.errors.required">Air-Condition status is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="heating">Heating</label>
            <input type="text" formControlName="heating" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.heating.errors }" />
            <div *ngIf="submitted && f.heating.errors" class="invalid-feedback">
                <div *ngIf="f.heating.errors.required">Heating status is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="floor">Floor</label>
            <input type="text" formControlName="floor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.floor.errors }" />
            <div *ngIf="submitted && f.floor.errors" class="invalid-feedback">
                <div *ngIf="f.floor.errors.required">Floor number is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="address">Address</label>
            <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Unit Address is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="monthly_rate">Price</label>
            <input type="text" formControlName="monthly_rate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.monthly_rate.errors }" />
            <div *ngIf="submitted && f.monthly_rate.errors" class="invalid-feedback">
                <div *ngIf="f.monthly_rate.errors.required">Unit Price is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="sq_footage">Sq. Footage</label>
            <input type="text" formControlName="sq_footage" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sq_footage.errors }" />
            <div *ngIf="submitted && f.sq_footage.errors" class="invalid-feedback">
                <div *ngIf="f.sq_footage.errors.required">Unit Area is required</div>
            </div>
        </div>

        <div class="form-group col">
            <label for="availability">Availability</label>
            <input type="text" formControlName="availability" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.availability.errors }" />
            <div *ngIf="submitted && f.availability.errors" class="invalid-feedback">
                <div *ngIf="f.availability.errors.required">Availability status is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/listings" class="btn btn-link">Cancel</a>
    </div>
</form>