<!-- nav -->
<nav class="navbar navbar-expand navbar-light bg-primary" *ngIf="user">
<!-- <nav class="navbar navbar-expand navbar-light bg-primary">  -->
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active" *ngIf="user.account_type === Role.Admin" >Users</a>
        <!-- <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a> -->
        <a class="nav-item nav-link" routerLink="/listings" routerLinkActive="active">Listings</a>
        <!-- <a class="nav-item nav-link" routerLink="/maintenance" routerLinkActive="active">Maintenance</a> -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Maintenance
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/maintenance" routerLinkActive="active">Submit Issue</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/maintenance/issues">View Issues</a>
            </div>
        </li>
        <!-- <a class="nav-item nav-link" routerLink="/lease" routerLinkActive="active" *ngIf="user.account_type === Role.Admin">Finances</a> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Finances
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/lease/pay" routerLinkActive="active">Make Payment</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/lease/view/{{user.id}}">View Lease</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/lease/history">View Payment History</a>
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
      </li>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<nav class="navbar navbar-expand navbar-light bg-primary" *ngIf="!user">
<!-- <nav class="navbar navbar-expand navbar-light bg-primary">  -->
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/public-listings" routerLinkActive="active">Listings</a>
        <a class="nav-item nav-link" routerLink="/account/login">Login</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
